
#intro-box, #intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#intro-box {
    background-color: gainsboro;
}

#welcome-text {
   font-weight: bold;
   margin: 15px;
   font-size: 30px;
   background-color: gainsboro;
}

#instructions-text {
    margin: 10px 75px 10px 75px;
    display: block;
}

#selection-box {
    display: flex;
    justify-content: space-around;
    background-color: gainsboro;
}

#recipe-generator-box, #tv-generator-box {
    width: 45%; 
    padding: 30px;
}

.recipe-selection-options {
    display: flex;
    justify-content: space-between;
}

.recipe-selection-options h3 {
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
}

.recipe-options {
    width: 25%;
    margin: 2px;
}

#movie-render {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
}

#recipe {
    background-color: gainsboro;
    font-size: 18px;
}

.recipeName {
    border: 2px dashed red;
    margin: 5px;
}

.recipeUrl {
    border: 2px dashed green;
    margin: 5px;
}

.recipeIngredients {
    border: 2px dashed blue;
    margin: 5px;
}

.recipeInstruction {
    border: 2px dashed purple;
    margin: 5px;
}

.recipeCalories {
    border: 2px dashed red;
    margin: 5px;
}

.recipeCuisineType {
    border: 2px dashed green;
    margin: 5px;
}

.recipeDietLabels {
    border: 2px dashed blue;
    margin: 5px;
}

.recipeDishType {
    border: 2px dashed purple;
    margin: 5px;
}

.recipeMealType {
    border: 2px dashed red;
    margin: 5px;
}

#selection-box h2 {
    display: flex;
    justify-content: center;
    color: white;
    border: black;
    font-size: 20px;
}

#tv-generator-box h2 {
    display: flex;
    justify-content: center;
}

#recipe-generator-box, #tv-generator-box {
    color: white;
    margin: 0;
}

#preference-select {
   display: flex;
   flex-direction: column;
   width: 150px;
}

#search-button {
    margin: 0 40% 5% 40%
}

#movie-render h2 {
    font-size: 20px;
    font-weight: bold;
}

#generate-recipe {
    margin: 0 40% 5% 40%
}

@media screen and (max-width: 768px) {
    #instructions-text {
        width: 450px;
    }

    #selection-box {
        display: block;
    }

    #recipe-generator-box {
        width: 100%;
        margin-bottom: 30px;
    }

    #tv-generator-box {
        width: 100%;
        margin-bottom: 30px;
        padding-left: 100px;
        padding-right: 100px;
    }

    #movie-render {
        margin: 10px;
        justify-content: space-between;
    }

    #movie-poster-render {
        margin-right: 10px;
    }

    #movie-detail {
        font-size: 12px;
    }

   
}